/********** GENERIC STYLES **********/
textarea, input {
	&:focus {
		outline:none;
	}
}




/********** SPECIFIC STYLES **********/
html, body, #app {
	height:100%;
	width:100%;
	margin:0;
	overflow:hidden;
}

#output-view {
	height:60%;
	width:100%;
	background-color:#ddd;

	.MuiPaper-root {
		height:90%;
		width:90%;
		position: relative;
		top:5%;
		margin:0 5%;
	}

	table {
		border-radius:4px;
		overflow: hidden;
	}

	th {
		background-color:#bb0000;
		color:#fff;
	}


}

#input-view {
	height:40%;
	width:100%;
	background-color:#aaa;

	textarea {
		resize:none;
		width:100%;
		height:100%;
		padding:2%;
		border:none;
		box-sizing: border-box;
		background-color:transparent;
		color:#fff;
		font-size:1.4rem;
	}
}
