/********** COLOR PALETTE **********/
$primary-dark: #248EA6;
$primary-light: #ad25d9; //#25C7D9;
$secondary-dark: #F23030;
$secondary-light: #F2762E;
$accent: #F2D338;
$input-background:#666;

/********** GENERIC STYLES **********/
* {
	font-family: 'Roboto', sans-serif;
}

textarea, input {
	&:focus {
		outline:none;
	}
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.msg {
		text-align: center;
		color:#333;
		background-color:#eee;

		&.info {
			color: $primary-dark;
			background-color: lighten($primary-dark, 50%);
		}

		&.warning {
			color: darken($accent, 30%);
			background-color: lighten($accent, 35%);
		}

		&.error {
			color: $secondary-dark;
			background-color: lighten($secondary-dark, 35%);
		}
}

/********** SPECIFIC STYLES **********/
html, body {
	height:100%;
	width:100%;
	margin:0;
	overflow:hidden;
}

body {
	display: flex;
}

main {
	width:80%;
}

sidebar {
	position: relative;
	width:20%;
	background-color:#eee;
	padding:15px 20px;
	box-shadow: -1px 0 0px rgba(0,0,0,0.15);
	overflow: auto;

	h3 {
		font-weight: 200;
		font-size: 1.8rem;
		color:#888;
		margin:0;
		padding:10px 0;
	}

	.toggles-list {
		padding-left:20px;

		.MuiFormControlLabel-label {
			color:#666;
		}

		.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
			background-color:#888;
			opacity:1;
		}

		.yellow .MuiSwitch-colorSecondary.Mui-checked {
			color:lighten($accent, 15%);

			&:hover {
				background-color:rgba($accent, 0.08);
			}
		}

		.blue .MuiSwitch-colorSecondary.Mui-checked {
			color:lighten($primary-light, 30%);

			&:hover {
				background-color:rgba($primary-light, 0.1);
			}
		}

		.orange .MuiSwitch-colorSecondary.Mui-checked {
			color:lighten($secondary-light, 15%);

			&:hover {
				background-color:rgba($secondary-light, 0.08);
			}
		}

	}

	.table-list {
		list-style: none;
		padding:0;

		.table-title {
			color:#888;
			margin-bottom: 4px;
			font-style: italic;
			font-weight: 200;
		}
	}

	.column-list {
		list-style: none;
		padding-left:20px;

		> li {
				background-color: $primary-dark;
		    color: #fff;
		    display: inline-block;
		    padding: 4px 12px;
		    /*border-radius: 20px;*/
		    font-size: 0.8rem;
		    margin: 4px;
		    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
				transition: box-shadow .3s;
 				transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
				cursor:grab;

				&.foreign-key {
					background-color: darken($primary-dark, 10%);
				}

				&:hover {
					background-color:darken($primary-dark, 25%);
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
						 0 1px 5px 0 rgba(0, 0, 0, 0.12),
						 0 3px 1px -2px rgba(0, 0, 0, 0.2);

				}

				&:active {
					cursor: grabbing;
				}
		}
	}
}

#output-view {
	height:70%;
	width:100%;
	background-color:#aaa;
	position: relative;

	&:after {
		position: absolute;
    content: '';
    background: $input-background;
    width: 100%;
    height: 20%;
    bottom: 0;
    z-index: -0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
		z-index:1;
	}

	.MuiPaper-root {
		height:90%;
		width:90%;
		position: relative;
		top:5%;
		margin:0 5%;
		border-radius: 8px;
		overflow: hidden;
		z-index: 2;
	}

	table.is-dragging {
		thead tr:first-child th:last-child {
			background-color: darken($primary-dark, 10%);
		}

		tbody {
			position: relative;

			tr:first-child td:last-child::after {
					content: "Drop to Add Column";
			    position: absolute;
			    top: 0;
			    right: 0;
			    height: 100%;
			    width: inherit;
			    margin: 0;
					padding:0 5px;

			    text-align: center;
			    font-size: 1.2rem;
			    font-weight: bold;
			    display: flex;
			    flex-direction: column;
			    justify-content: center;
					box-sizing: border-box;

					background-color:#fff;
					color: #1b6a7c;
					opacity:0.8;
					border: 18px dashed;
			    outline: 12px solid #fff;
			    outline-offset: -12px;
			}
		}
	}

	thead {
		box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    	z-index: 1;

		.flex-row {
			border:none;
		}
	}

	th {
		background-color:$primary-dark;
		color:#fff;
		font-weight: 400;
		padding:0.75rem 0.5rem;

		&.column-remove-btn {
			cursor:pointer;
			position: relative;

			&:hover {
				&::before {
				    content: '\f014  Remove';
				    font-family: 'FontAwesome', 'Roboto';
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    background-color: rgba($secondary-dark,0.8);
				    text-align: center;
					padding: 0.75rem 0.5rem;
				}
			}
		}

		&.filter, &.group, &.order {
			display:flex;
			flex-wrap:wrap;
			align-items: flex-end;
			padding:0;

			> input {
				background: transparent;
			    border: none;
			    max-height: 35px;
			    width: auto;
			    margin-top: 0;
			    padding: 0.6rem 0.5rem;
			    font-size: 0.8rem;
			    flex-grow: 1;
			    overflow:hidden;
					color:#444;

			    &:focus {
			    	background-color: rgba(0, 0, 0, 0.05);
			    }
			}

			.MuiInputBase-root {
				color: #777;
				border:none;
				font-size:0.8rem;
				flex-grow:1;

				.MuiInputBase-inputSelect {
					padding: 0.6rem 0.5rem;
					padding-right: 24px;
					color:#444;
				}

				.MuiNativeSelect-select:focus {
					background-color: rgba(0, 0, 0, 0.05);
				}

			}

			.MuiInput-underline::before, .MuiInput-underline::after {
				content:none;
			}
		}

		&.filter {
			background-color:lighten($accent, 20%);
		}

		&.group {
			background-color:lighten($primary-light, 30%);
		}

		&.order {
			background-color:lighten($secondary-light, 20%);
		}
	}

	.msg {
			position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	    margin: 0;
	    padding: 30px 15px;
			font: 200 2rem sans-serif;
	}

	.empty-msg {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    font-weight: bold;
	    font-size: 1.4rem;
	    color: #aaa;
	    text-align: center;

	     &.intro-msg {
	     	font-weight:400;
	     	font-size:200%;
	     	margin-top:-20px;
	     	color:$primary-dark;
	     }
	}

	.drop-curtain {
		position: absolute;
	    background: rgba(255,255,255,0.8);
	    width: 100%;
	    height: 100%;
	    border-radius: 4px;
	    display: table;
    	padding: 4% 5%;
    	box-sizing: border-box;
    	z-index:4;

	    p {
	    	font-weight: bold;
		    font-size: 2rem;
		    color: $primary-dark; // #888
		    border: 10px dashed;
		    text-align: center;
		    border-radius: 8px;
		    display: table-cell;
		    vertical-align: middle;
	    }
	}

}

#input-view {
	height:30%;
	width:100%;
	background-color:$input-background;
	position: relative;


	p {
			margin:0;
			line-height:40px;
			color:#fff;
			font-size:1.4rem;
			height:40px;

			&.placeholder {
				position: absolute;
				color:#bbb;
				pointer-events: none;
				padding:2% 3%;
			}
	}

	.msg {
		position: absolute;
		bottom: 0;
		width: 90%;
		max-height: 30%;
		padding: 10px;
		margin-bottom: 10px;
		margin: 0 5% 2%;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid;
		box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

		&.msg-hide {
			opacity: 0;
			bottom:-100%;
		}

		&.msg-box-enter {
				opacity: 0;
				bottom:-100%;
		}

		&.msg-box-enter-active {
				transition: opacity 400ms ease-out, bottom 400ms ease-out;
				opacity: 1;
				bottom:0;
		}

		&.msg-box-enter-done {
			opacity:1;
			bottom:0;
		}

		&.msg-box-exit {
			opacity: 1;
			bottom:0;
		}

		&.msg-box-exit-active {
			opacity: 0;
			bottom:-100%;
			transition: opacity 800ms ease-in, bottom 800ms ease-in;
		}

		&.msg-box-exit-done {
			opacity:0;
			bottom:-100%;
		}
	}

	.input-form {
		width:100%;
		height:100%;
		padding:2% 5%;
		border:none;
		box-sizing: border-box;
		background-color:transparent;


		&:focus {
			outline:none;
		}

		.error {
			background: rgba($secondary-dark, 0.5);
			display: inline;
		}

		.warning {
			background: rgba($accent, 0.5);
			display: inline;
		}

		.clause {
			border-radius: 5px;
				padding: 2px 5px;
				box-shadow: 1px 1px 1px rgba(0,0,0,0.25);

				&.select {
						background-color: $primary-dark;
				}

				&.where, &.having {
						background-color: darken($accent, 10%);
				}

				&.group-by {
						background-color: $primary-light;
				}

				&.order-by {
						background-color: $secondary-light;
				}
		}

		.function.group-by {
			color: #dea8f0;
		}

		.column {
			text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

				&.select {
						color: #66d8e5; //Light primary-dark
				}

				&.where, &.having {
						color: lighten($accent, 15%);
				}

				&.group-by {
						color: #dea8f0;
				}

				&.order-by {
						color: #f7aa7e;
				}
		}


	}
}
